.in_report{
    position:fixed;
    background-color: #000000;
    color:white;
    bottom:0;
    width:50%;
    top:61%;
    transform: translate(0%, 0%);
    border-radius:10px;
    overflow-y: auto;
  }