.report{
    position:fixed;
    color:rgb(234, 231, 231);
    background-color: #000000;
    bottom:0;
    width:81.8%;
    top:66%;
    transform: translate(0%, 0%);
    border-radius:10px;
    overflow-y: auto;
  }
  .row{
    display:flex;
  }
  .column{
   
    padding: 10px; /* Add some padding for spacing */
    border: 3px solid #272626; /* Add border for visualization */
    box-sizing: border-box;
    background-color: #282828;
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    margin-top:5px;
    margin-right:5px;
    

  }
  .column_des{
    
    padding:10px;
    border: 3px solid #383838; /* Add border for visualization */
    box-sizing: border-box;
    background:#282828;
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    margin-top:5px;
  }